@using Hybrid.Models
@model List<DateTime>

@{
    ViewBag.Title = "Home";
    var name = ViewBag.userName;
    var hasMenu = Model != null;
    var menuForToday = Model != null ? Model.Contains(DateTime.Now) : false;
}

<h2>Welcome, @name!</h2>

@if (!menuForToday)
{
    <p>You do not have any menus generated for today</p>
    @Html.ActionLink("Generate", "Generate", "Menu", null, new { @class = "btn btn-primary" })
}
@if(hasMenu)
{
    <div class="form-horizontal">
    <div class="row">
        <div class="col-md-8 ">
            <div class="form-group">
                <label for="datepicker" class="col-sm-2 control-label">Pick a date</label>
                <div class="col-sm-9">
                    @*@Html.DropDownListFor(m => DateTime.Now,
                        new SelectList(Model.Select(s =>
                            new SelectListItem { Value = s.ToString(), Text = s.ToShortDateString() }),
                            "Value", "Text"),
                        new { @class = "form-control", @onchange = "showMenuAjax(this.value)" })*@
                    <select class="form-control" onchange="showMenuAjax(this.value)">
                        @foreach (var date in Model)
                        {
                            <option value="@date">@date.ToShortDateString()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    </div>
    @Html.Partial("_Loader");

    <div id="menu">
        @Html.Action("ActiveMenu", new { day = DateTime.Now })
    </div>
}

@section scripts {
    <script>
        function showMenuAjax(value) {
            console.log(value)
            $('#menu').hide();
            $.ajax({
                    url: '@Url.Action("ActiveMenu")',
                    method: 'GET',
                    cache: false,
                    dataType: 'html',
                    data: { day: value},
                    success: function (partialView) {
                        $("#menu").html(partialView).fadeIn(800);
                    }
            })
        }

    </script>
}