@using Hybrid.Models;
@model Hybrid.Models.User

@{
    ViewBag.Title = "UserInfo";
    var activity = ViewBag.activity as LevelOfActivity;
    var showModal = Convert.ToBoolean(TempData["showModal"]);
}

<h2>User Info</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOFBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOFBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelOfActivityID)
        </dt>

        <dd>
            @activity.Type
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiabetesType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiabetesType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
@Html.Partial("_ExcludeModal")


@section scripts {
    <script>
         $('#btnExclude').on('click', function () {
                console.log("entered")

                $.ajax({
                    url: '@Url.Action("FillAccordion", "Settings")',
                    method: 'GET',
                    cache: false,
                    data: { },
                    dataType: 'html',
                    success: function (partialView) {
                        $("#allIngs").html(partialView).fadeIn(800);
                        $('#excludeModal').modal('show');
                    }
                });
         });

        if (@showModal.ToString().ToLower()) {
            $('#btnExclude').trigger('click');
        }
    </script> 
}