@using Hybrid.Models
@model MenuViewModel

@{
    var mealType = new Dictionary<int, string>
{
        {1, "Ugljikohidrati" },
        {2, "Proteini" },
        {3, "Masti" },

    };
}

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Meal</th>
            <th scope="col">Ingredient</th>
            <th scope="col">Type</th>
            <th scope="col">Unit of Mesurement</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 1; }
        @foreach (var meal in Model.Meals)
        {
            
            <tr>
                <th rowspan="3" style="vertical-align:middle !important" scope="row">@i</th>
                <td rowspan="3" style="vertical-align:middle !important">@meal.Name</td>
                <td>@meal.IngredientEnergy.Keys.First().Name</td>
                <td>@mealType[meal.IngredientEnergy.Keys.First().TypeId]</td>
                <td>@meal.IngredientEnergy.Values.First().First().Value g</td>
            </tr>

            for (int j = 1; j <= 2; j++)
            {
                <tr>
                    <td>@meal.IngredientEnergy.Keys.ToArray()[j].Name</td>
                    <td>@mealType[meal.IngredientEnergy.Keys.ToArray()[j].TypeId]</td>
                    <td>@meal.IngredientEnergy.Values.ToArray()[j].First().Value g</td>
                </tr>
            }
            i++;
        }

    </tbody>
</table>